<ion-modal-view id="cgu-modal">
  <ion-header-bar>
    <span class="title center">CGU</span>
    <button class="button button-icon button-clear icon ion-close-round" ng-click="closeCGU()"></button>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <ion-list>
      <ion-item>
        <p>
          <strong>
            Conditions générales d’utilisation
          </strong>
        </p>
        <br>
        <p>
          <strong>
            1. Objet
          </strong>
        </p>
        <br>
        <p>
          La société Shopmycourses exploite une application mobile (ci-après « <strong>l’Application</strong> ») qui
          permet à des clients, particuliers ou professionnels, (ci-après : les « <strong>Demandeurs</strong> ») de faire
          appel aux services de livreurs (ci-après : les « <strong>Livreurs</strong> »), pour faire leurs courses et leur
          livrer à domicile (ci-après les « <strong>Prestations</strong> »).
        </p>
        <br>
        <p>
          Les Demandeurs et les Livreurs sont ci-après désignés ensemble les Utilisateurs.
        </p>
        <br>
        <p>
          Les présentes conditions générales (ci-après les « <strong>Conditions Générales</strong> ») ont pour objet
          de fixer les modalités et conditions de fourniture des services fournis par Shopmycourses et
          décrits ci-dessous (ci-après les « <strong>Services</strong> »), ainsi que de définir les droits et obligations des
          parties dans ce cadre.
        </p>
        <br>
        <p>
          Elles expriment l’intégralité de l’accord des Parties et annulent et remplacent tout accord,
          lettre, offre ou autre document écrit ou oral antérieur ayant le même objet.
        </p>
        <br>
        <p>
          Elles sont accessibles et imprimables à tout moment par un lien direct dans la rubrique
          « Paramètres » de l’Application.
        </p>
        <br>
        <p>
          Elles peuvent être complétées, le cas échéant, par des conditions d’utilisation particulières,
          lesquelles complètent les présentes Conditions Générales et, en cas de contradiction,
          prévalent sur ces dernières.
        </p>
        <br>
        <p>
          <strong>
            2. Identification
          </strong>
        </p>
        <br>
        <p>
          L’Application et les Services sont exploités par la société Shopmycourses, société par actions
          simplifiée immatriculée au RCS de Paris sous le n° 818 818 890, dont le siège social est situé
          10 rue de Penthièvre – 75 008 Paris (ci-après « <strong>Shopmycourses</strong> »).
        </p>
        <br>
        <p>
          Shopmycourses peut être contactée aux coordonnées suivantes :
        </p>
        <br>
        <p>
          Téléphone : 06 32 75 74 01<br>
          Adresse électronique : contact@shopmycourses.fr
        </p>
        <br>
        <p>
          <strong>
            3. Acceptation des Conditions Générales
          </strong>
        </p>
        <br>
        <p>
          L’Utilisateur déclare en s’inscrivant aux Services dans les conditions prévues ci-après à
          l’article « Inscription sur l’Application », avoir pris connaissance des présentes Conditions
          Générales et les accepter expressément.
        </p>
        <br>
        <p>
          Cette acceptation des Conditions Générales ne peut être que pleine et entière. Toute
          adhésion sous réserve est considérée comme nulle et non avenue. L’Utilisateur qui n’accepte
          pas d’être lié par les présentes Conditions Générales ne doit pas accéder à l’Application, ni
          utiliser les Services.
        </p>
        <br>
        <p>
          <strong>
            4. Accès à l’Application et aux Services
          </strong>
        </p>
        <br>
        <p>
          L’Application et les Services sont accessibles :
        </p>
        <br>
        <p>
          <ul>
            <li>
              <p>
                - A toute personne physique disposant de la pleine capacité juridique pour s’engager
                au titre des présentes Conditions Générales et âgée d’au moins 18 ans.
                L’Utilisateur qui ne dispose pas de la pleine capacité juridique ne peut accéder à
                l’Application et aux Services qu’avec l’accord de son représentant légal.
              </p>
            </li>
            <li>
              <p>
                - A toute personne morale agissant par l’intermédiaire d’une personne physique
                disposant des pouvoirs pour contracter au nom et pour le compte de la personne
                morale.
              </p>
            </li>
          </ul>
        </p>
        <br>
        <p>
          <strong>
            5. Inscription sur l’Application
          </strong>
        </p>
        <br>
        <p>
          Tout Utilisateur est tenu d’ouvrir un compte utilisateur auprès de Shopmycourses sur
          l’Application selon la procédure décrite ci-dessous (ci-après le « Compte »). L’Utilisateur
          s’inscrit indifféremment en qualité d’un Demandeur ou de Livreur et peut utiliser l’Application
          sous l’une et/ou l’autre qualité dans le même temps.
        </p>
        <br>
        <p>
          L’Utilisateur doit préalablement à l’ouverture de son Compte, télécharger l’Application sur
          tout device de son choix, via l’un des Appstore distribuant l’Application.
        </p>
        <br>
        <p>
          L’Utilisateur est ensuite tenu de :
        </p>
        <br>
        <p>
          <ul>
            <li>
              <p>
                - remplir un formulaire d’inscription, en y complétant toutes les informations requises, et
                notamment son nom, prénom, adresse email, numéro de téléphone. L’Utilisateur
                reconnaît que son adresse email constitue son identifiant de connexion.
              </p>
            </li>
            <li>
              <p>
                - choisir un mot de passe. L’Utilisateur a la possibilité de changer son mot de passe à tout
                moment, dans l’onglet « Paramètres » de son Compte. Il est recommandé de changer
                régulièrement de mot de passe.
              </p>
            </li>
            <li>
              <p>
                - accepter en cliquant le bouton « Inscription », (i) les conditions générales d’utilisation, et
                (ii) les conditions générales d’utilisation du prestataire de paiement Lemonway.
              </p>
            </li>
          </ul>
        </p>
        <br>
        <p>
          L’Utilisateur reconnaît être informé que toute inscription incomplète ne sera pas validée. Il
          garantit Shopmycourses que les informations renseignées sur la fiche d’inscription lors de
          l’ouverture de son Compte sont exactes, à jour et qu’elles ne sont entachées d’aucun
          caractère trompeur. L’Utilisateur s’engage notamment à fournir un numéro de téléphone
          valide.
        </p>
        <br>
        <p>
          L’Utilisateur s’engage à informer Shopmycourses sans délai de tout changement dans
          lesdites informations à l’adresse de contact indiquée à l’article « Identification » des
          présentes.
        </p>
        <br>
        <p>
          L’Utilisateur reconnaît et accepte que les informations saisies aux fins de création ou de mise
          à jour de son Compte vaillent preuve de son identité. Les informations saisies l’engagent dès
          leur validation.
        </p>
        <br>
        <p>
          A réception du formulaire d’inscription, Shopmycourses adressera à l’Utilisateur un email de
          bienvenue expliquant le concept et le fonctionnement de la Plateforme.
        </p>
        <br>
        <p>
          L’Inscription de l’Utilisateur est automatiquement validée et entraine l’ouverture d’un Compte.
          Shopmycourses se réserve le droit, à sa libre discrétion, et à tout moment après l’inscription,
          de mettre en œuvre tout processus de vérification qu’elle jugera utile, portant notamment sur
          l’email de l’Utilisateur, son numéro de téléphone, son identité et/ou ses coordonnées.
        </p>
        <br>
        <p>
          L’inscription sur la Plateforme entraîne automatiquement l’attribution d’un espace personnel
          sous une forme et selon les moyens techniques que Shopmycourses juge les plus appropriés
          pour rendre les Services, consistant notamment en un espace personnalisable au sein de
          l'application, permettant à l’Utilisateur d’utiliser et de gérer les Services (ci-après « <strong>l’Espace
          personnel</strong> »).
        </p>
        <br>
        <p>
          L’Utilisateur accède aux Services en se connectant à son Compte avec son email et le mot
          de passe choisit lors de l’inscription, ce qu’il reconnaît et accepte.
        </p>
        <br>
        <p>
          <strong>
            6. Usage strictement personnel
          </strong>
        </p>
        <br>
        <p>
          Un seul Compte pourra être créé par Utilisateur. Est considérée comme étant l’Utilisateur
          des Services requérant une inscription préalable la personne dont les renseignements
          personnels correspondent à ceux qui ont été fournis sur le formulaire d’inscription, à
          l’exclusion de tout autre tiers, étant entendu que dans le cas où le Compte est ouvert par
          une personne morale, ledit Compte sera valablement opéré par toute personne dûment
          habilitée.
        </p>
        <br>
        <p>
          L’Utilisateur s’engage par conséquent à utiliser les Services personnellement, et à ne
          permettre à aucun tiers de les utiliser à sa place ou pour son propre compte, y compris à un
          autre Utilisateur des Services, sauf à en supporter l’entière responsabilité.
        </p>
        <br>
        <p>
          L’Utilisateur est par ailleurs responsable du maintien de la confidentialité de ses identifiant et
          mot de passe et reconnaît expressément que toute utilisation des Services depuis son
          Compte sera réputée avoir été effectuée par lui-même. Lorsque le Compte est ouvert par
          une personne morale, cette dernière reconnaît que son Compte pourra être opéré par une
          ou plusieurs personnes autorisées, à partir de ses identifiants de connexion. Dans cette
          hypothèse, la personne morale s’engage à faire respecter par ces dernières la plus stricte
          confidentialité de ses données de connexion.
        </p>
        <br>
        <p>
          Dans l’hypothèse où l’Utilisateur constaterait que son Compte est ou a été utilisé à son insu,
          il s’engage à en avertir Shopmycourses dans les plus brefs délais, à l’adresse indiquée à
          l’article « Identification ».
        </p>
        <br>
        <p>
          L’Utilisateur s’engage à ne créer qu’un seul Compte, Shopmycourses se réserve la
          possibilité le cas échéant de supprimer tout compte supplémentaire créé par le même
          Utilisateur. L’Utilisateur reconnaît également être informé que dans l’hypothèse où
          Shopmycourses déciderait de suspendre ou de fermer son Compte, ledit Utilisateur ne
          pourra plus créer de nouveau Compte sur la Plateforme, et ce sans limitation de durée.
          Shopmycourses se réserve la possibilité de supprimer tout nouveau Compte créé par un
          Utilisateur dont le précédent Compte a été supprimé sur décision de Shopmycourses.
        </p>
        <br>
        <p>
          <strong>
            7. Usage non commercial
          </strong>
        </p>
        <br>
        <p>
          L’Utilisateur s’interdit de monnayer, vendre, concéder, échanger, et plus généralement
          négocier tout ou partie de l’accès aux Services, ainsi qu’aux informations et/ou textes,
          images, et autres contenus exploités par Shopmycourses sur l’Application.
        </p>
        <br>
        <p>
          <strong>
            8. Description des Services
          </strong>
        </p>
        <br>
        <p>
          <strong>
            8.1. Les Services communs à tous les Utilisateurs
          </strong>
        </p>
        <br>
        <p>
          <strong>
            8.1.1. Création d’une page de profil
          </strong>
        </p>
        <br>
        <p>
          L’Utilisateur se voit attribuer un profil public sur son Espace personnel (ci-après le « <strong>Profil</strong> »)
          consultable par les autres Utilisateurs de l’Application, contenant uniquement ses nom et
          prénom.
        </p>
        <br>
        <p>
          L’Utilisateur peut également télécharger une photographie sur son Profil.
        </p>
        <br>
        <p>
          Shopmycourses indique également sur le Profil des Livreurs, la note moyenne attribuée par
          les Demandeurs au Livreur sous forme d’étoiles, ce que les Livreurs reconnaissent et
          acceptent.
        </p>
        <br>
        <p>
          <strong>
            8.1.2. Assistance technique
          </strong>
        </p>
        <br>
        <p>
          Shopmycourses propose à l’Utilisateur une assistance technique accessible par email à
          l’adresse suivante : contact@shopmycourses.fr, lui permettant de déclarer toute difficulté
          rencontrée lors de l’utilisation des Services.
        </p>
        <br>
        <p>
          <strong>
            8.2. Les Services accessibles aux Demandeurs
          </strong>
        </p>
        <br>
        <p>
          Le Demandeur a accès aux Services qui suivent sous une forme et selon les moyens
          techniques que Shopmycourses juge les plus appropriés pour toute la durée des présentes.
        </p>
        <br>
        <p>
          <strong>
            8.2.1. Former une demande de livraison
          </strong>
        </p>
        <br>
        <p>
          Le Demandeur peut former une demande de livraison (ci-après la « <strong>Demande de
          Livraison</strong> »), à partir de la page d’accueil de l’Application en cliquant sur le bouton
          « Demander une livraison ».
        </p>
        <br>
        <p>
          Le Demandeur reconnait qu’il doit remplir les champs proposés par Shopmycourses, par tout
          moyen jugé utile par cette dernière, pour former sa Demande de Livraison, et notamment :
          <ul>
            <li>
              <p>
                - le créneau horaire dans lequel le Demandeur souhaite être livré ;
              </p>
            </li>
            <li>
              <p>
                - l’adresse de livraison ;
              </p>
            </li>
            <li>
              <p>
                - le magasin dans lequel le Demandeur souhaite que le Livreur fasse ses courses.
                Shopmycourses propose au Demandeur un outil de géolocalisation, lui permettant
                de lui proposer en priorité les magasins situés dans l’environnement direct de
                l’adresse de livraison renseignée par le Demandeur.
              </p>
            </li>
          </ul>
        </p>
        <br>
        <p>
          Le Demandeur reconnaît et accepte que sa Demande de Livraison ne pourra être validée
          qu’après avoir rempli l’intégralité des champs proposés par Shopmycourses.
        </p>
        <br>
        <p>
          <strong>
            8.2.2. Acceptation de la Demande de Livraison
          </strong>
        </p>
        <br>
        <p>
          Une fois la Demande de Livraison validée par le Demandeur, Shopmycourses adresse aux
          Livreurs inscrits sur l’Application, par tout moyen jugé utile, ladite Demande de Livraison,
          dans les conditions détaillées ci-après à l’article « Proposer une livraison ».
        </p>
        <br>
        <p>
          Lorsqu’un Livreur accepte la Demande de Livraison, Shopmycourses adresse au
          Demandeur une notification de commande acceptée via l’Espace personnel. La notification
          comporte une fenêtre affichant le Profil du Livreur ayant accepté la Demande de Livraison.
        </p>
        <br>
        <p>
          Le Demandeur reconnaît et accepte que Shopmycourses ne lui garantit (i) ni l’acceptation de
          sa Demande de Livraison par un Livreur, les Livreurs n’étant pas contraints de répondre
          positivement aux Demandes de Livraison qui leur sont adressées, (ii) ni que l’acceptation
          interviendra dans un certain délai. Dans l’hypothèse où une Demande de Livraison ne serait
          pas acceptée par un Livreur avant le créneau de livraison sélectionné, la Demande de
          Livraison sera automatiquement supprimée.
        </p>
        <br>
        <p>
          Une fois la Demande de Livraison acceptée par un Livreur, le Demandeur peut à son libre
          choix, (i) annuler sa demande ou (ii) créer sa liste de courses (ci-après la « <strong>Liste de
          courses</strong> »).
        </p>
        <br>
        <p>
          <strong>
            8.2.3. Création d’une Liste de courses
          </strong>
        </p>
        <br>
        <p>
          Shopmycourses met à disposition du Demandeur une base de données d’aliments et
          d’ingrédients disponibles dans le magasin sélectionné, avec le prix de vente appliqué dans
          ledit magasin.
        </p>
        <br>
        <p>
          Shopmycourses s’engage à faire ses meilleurs efforts pour tenir à jour ladite base de
          données afin de correspondre au plus près aux produits commercialisés et aux prix
          pratiqués dans chaque magasin. Le Demandeur reconnaît et accepte néanmoins que ladite
          base n’est pas exempt d’erreurs et/ou d’oublis.
        </p>
        <br>
        <p>
          Le Demandeur sélectionne les produits et la quantité souhaité de chaque produit dans son
          panier virtuel sur son Espace personnel (ci-après la « <strong>Commande</strong> »). Shopmycourses lui
          indique au fur et à mesure le prix total de la commande, ainsi que le montant des frais de
          livraison.
        </p>
        <br>
        <p>
          Une fois sa Liste de courses établit, le Demandeur peut enregistrer la Liste de courses dans
          l’onglet « Mes commandes » de son Espace personnel, et la stocker dans l’attente d’une
          validation future.
        </p>
        <br>
        <p>
          Le Demandeur accède à tout moment dans son Espace personnel à l’historique de ses
          Commandes et/ou des Commandes en attente de validation.
        </p>
        <br>
        <p>
          <strong>
            8.2.4. Paiement de la Commande
          </strong>
        </p>
        <br>
        <p>
          Le Demandeur reconnaît et accepte qu’il doit payer le prix de la Commande via l’Application,
          au moment de la validation de la Commande. A défaut, il reconnaît et accepte que la
          Commande ne sera pas validée.
        </p>
        <br>
        <p>
          Shopmycourses envoie par mail au Demandeur, les factures correspondant aux Prestations
          rendues par les Livreurs.
        </p>
        <br>
        <p>
          <strong>
            8.2.5. Notation des Livreurs
          </strong>
        </p>
        <br>
        <p>
          Shopmycourses donne au Demandeur la possibilité de noter les Livreurs, par l’intermédiaire
          de l’Application, en lui attribuant un certain nombre d’étoiles. Le Demandeur reconnaît que la
          notation est rendue accessible au seul Livreur. Shopmycourses réalise une notation
          moyenne du Livreur, sur la base de l’ensemble des notations laissées par les Demandeurs,
          mise à jour à chaque nouvelle Livraison, ce que les Demandeurs reconnaissent et
          acceptent.
        </p>
        <br>
        <p>
          <strong>
            8.3. Les Services accessibles aux Livreur
          </strong>
        </p>
        <br>
        <p>
          Le Livreur a accès aux Services qui suivent sous une forme et selon les moyens techniques
          que Shopmycourses juge les plus appropriés pour toute la durée des présentes.
        </p>
        <br>
        <p>
          <strong>
            8.3.1. Formuler une proposition de Livraison
          </strong>
        </p>
        <br>
        <p>
          Le Livreur peut indiquer sa disponibilité pour effectuer une Livraison (ci-après la
          « <strong>Proposition de Livraison</strong> »), à partir de la page d’accueil de l’Application en cliquant sur
          le bouton « Proposer une livraison ».
        </p>
        <br>
        <p>
          Le Livreur reconnaît qu’il doit remplir les champs proposés par Shopmycourses, par tout
          moyen jugé utile par cette dernière, pour former sa Proposition de Livraison, et notamment :<br>
          <ul>
            <li>
              <p>
                - Le ou les magasins dans lesquels il peut réaliser sa Prestation ;
              </p>
            </li>
            <li>
              <p>
                - le créneau horaire dans lequel le Livreur est disponible pour réaliser la Prestation ;
              </p>
            </li>
          </ul>
        </p>
        <br>
        <p>
          Le Livreur reconnaît et accepte que sa Proposition de Livraison ne pourra être validée
          qu’après avoir rempli l’intégralité des champs proposés par Shopmycourses.
        </p>
        <br>
        <p>
          <strong>
            8.3.2. Acceptation d’une Demande de Livraison
          </strong>
        </p>
        <br>
        <p>
          Une fois la Proposition de Livraison validée par le Livreur, Shopmycourses lui adresse les
          Demandes de Livraison correspondant aux critères renseignés dans la Proposition de
          Livraison. Le Livreur reconnaît et accepte que Shopmycourses ne lui adressera aucune
          Demande de Livraison si aucune ne correspond aux critères de sa Proposition de Livraison.
        </p>
        <br>
        <p>
          Le Livreur reconnaît être informé que la Demande de Livraison est adressée à cinq (5)
          Livreurs ayant formulé une Proposition de Livraison répondant aux critères de ladite
          Demande de Livraison, qui sont mis en concurrence pour l’acceptation de la Demande de
          Livraison.
        </p>
        <br>
        <p>
          Le Livreur a le choix d’accepter ou de refuser la Demande de Livraison. Il reconnaît être
          informé que la Demande de Livraison est attribuée au premier Livreur qui l’accepte via
          l’Application.
        </p>
        <br>
        <p>
          Si le Demandeur annule sa Commande, le Livreur est informé par notification de l’annulation
          de la Commande. Si le Demandeur valide sa Commande en payant via l'Application, le
          Livreur reçoit la Liste de courses du Demandeur.
        </p>
        <br>
        <p>
          <strong>
            8.3.3. Facturation des Prestations
          </strong>
        </p>
        <br>
        <p>
          Le Livreur mandate expressément Shopmycourses pour émettre, en son nom et pour son
          compte, une facture correspondant au prix des Prestations (ci-après la « <strong>Facture</strong> »), sur la
          base des informations communiquées par le Livreur à Shopmycourses pour chaque
          Prestation.
        </p>
        <br>
        <p>
          La facturation et le paiement des Prestations interviennent selon les modalités de l’article
          « Facturation et paiement du prix ».
        </p>
        <br>
        <p>
          Le Livreur dispose dans son Espace Personnel d’un outil de gestion et de stockage des
          Factures adressées aux Demandeurs.
        </p>
        <br>
        <p>
          <strong>
            8.4. Autres Services
          </strong>
        </p>
        <br>
        <p>
          Shopmycourses se réserve la faculté de proposer tout autre Service, sous une forme et
          selon les fonctionnalités et moyens techniques qu’elle estimera les plus appropriés pour
          rendre lesdits Services.
        </p>
      </ion-item>
    </ion-list>
  </ion-ontent>
</ion-modal-view>
