<ion-view title="Sélection plage horaire">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        Bravo
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto expedita animi repudiandae dolore velit consequuntur fuga minus quisquam, dolores, dolorem, accusantium commodi ad necessitatibus suscipit cum sed blanditiis adipisci aspernatur.</p>
        <button class="button button-stable button-block"  ui-sref="tabs.home">Ok</button>
    </ion-content>
</ion-view>
