<ion-view id="delivery" title="Détail">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <div id="delivery-header">
        <div style="line-height: 100px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="name">John D'eau</div>
        <div class="address"><i class="ion-ios-location-outline"></i> 29 Quai St Vincent, 69001 Lyon</div>
        <div class="actions">
          <button class="button button-stable" ng-click="openConfirmationModal()">Finaliser la commande</button>
          <button class="button button-stable">Contacter par SMS</button>
        </div>
      </div>
      <div id="delivery-prices" class="row">
        <div class="price-box col">
          <span class="price">35.59€</span>
          <span class="title">Prix total</span>
        </div>
        <div class="price-box col">
          <span class="price">3.50€</span>
          <span class="title">Commission</span>
        </div>
      </div>
      <ion-list>
          <div class="item item-divider">
            Liste des produits
          </div>
          <ion-item class="item item-icon-left product">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
              <div class="name">Blanc de poulet</div>
              <div class="detail">La barquette de 2x100g</div>
              <div class="price">6.10€</div>
          </ion-item>
      </ion-list>
    </ion-content>
</ion-view>


<script id="Confirmation.html" type="text/ng-template">
  <ion-modal-view id="confirmation-modal" ng-controller="ConfirmDeliveryCtrl">
    <ion-header-bar>
      <span class="title center">Finaliser la commande</span>
      <button class="button button-icon button-clear icon ion-close-round" ng-click="closeConfirmationModal()"></button>
    </ion-header-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <ion-slide-box show-pager="false" ng-init="disableSwipe()">
        <ion-slide>
          <div class="detail">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ex mollitia pariatur similique fuga blanditiis, vitae, nam? Necessitatibus officiis iusto hic at, et similique, quae doloremque repudiandae deserunt eveniet inventore.
          </div>
          <input type="text" placeholder="Votre code livreur"/>
          <hr/>
          <span class="delivery"><i class="ion-android-car"></i> John D'eau</span>
          <div class="instructions">Notez votre livreur</div>
          <div class="stars">
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
          </div>
          <button class="button button-stable" ng-click="nextSlide()">Valider la livraison</button>
        </ion-slide>
        <ion-slide>
          <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
          <div class="title">Fin de livraison</div>
          <div class="detail">Merci d'avoir fait vos courses avec Shop My Course</div>
          <button class="button button-stable" ng-click="closeConfirmationModal()">Ok</button>
        </ion-slide>
      </ion-slide-box>
    </ion-content>
  </ion-model-view>
</script>
