<ion-view id="home" title="Accueil">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="openNotificationsModal()">
        <i class="icon ion-android-notifications-none"></i>
    </button>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 150px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div>
            <span class="baseline">An awesome baseline</p>
        </div>
        <button class="button button-stable button-block" ui-sref="tabs.shopdelivery">Proposer une livraison</button>
        <button class="button button-stable button-block" ui-sref="tabs.scheduleorder">Demander une livraison</button>
    </ion-content>
</ion-view>

<script id="NotificationsModal.html" type="text/ng-template">
  <ion-modal-view id="notifications" ng-controller="NotificationsCtrl">
    <ion-header-bar>
      <span class="title center">Notifications</span>
      <button class="button button-icon button-clear icon ion-close-round" ng-click="closeNotificationsModal()"></button>
    </ion-header-bar>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <ion-list>
            <ion-item class="item-icon-left main">
              <i class="icon ion-android-notifications-none"></i>
                <div class="title">Nouvelle demande de livraison disponible</div>
            </ion-item>
            <ion-item class="secondary">
              <div class="shop">Carrefour St Just</div>
              <div class="timetable"><i class="ion-ios-calendar-outline"></i> 16h - 18h</div>
              <div class="address"><i class="ion-ios-location"></i> 43 Rue des machabées, Lyon 5</div>
              <div class="recipient"><i class="ion-ios-person"></i> John D'eau</div>
              <div class="stars">
                <i class="ion-ios-star"></i>
                <i class="ion-ios-star"></i>
                <i class="ion-ios-star"></i>
                <i class="ion-ios-star-outline"></i>
                <i class="ion-ios-star-outline"></i>
              </div>
              <div class="response row">
                <div class="col">
                  <button class="button button-stable button-block">Accepter</button>
                </div>
                <div class="col">
                  <button class="button button-stable button-block">Décliner</button>
                </div>
              </div>
            </ion-item>
        </ion-list>
    </ion-content>
  </ion-model-view>
</script>
