<ion-view id="new-deliveries" title="Sélection du magasin">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <ion-list>
            <div class="item item-divider">
              Magasins les plus proches
            </div>
            <ion-item class="item-icon-right" ui-sref="tabs.timetabledeliveries">
                <div class="title">Carrefour St. Just</div>
                <div class="distance"><i class="ion-model-s"></i> 2 km</div>
                <div class="address"><i class="ion-ios-flag"></i> 43 Rue des machabées, Lyon 5</div>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
