<ion-view id="shop-order" title="Selection du magasin">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <ion-list>
        <div class="item item-divider">
          Livreurs de type:
          <span class="stars">
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
          </span>
          </div>
          <div class="item item-divider">
            Magasins les plus proches
          </div>
          <ion-item class="item-icon-right" ui-sref="tabs.endorder">
              <div class="title">Carrefour St. Just</div>
              <div class="distance"><i class="ion-model-s"></i> 2 km</div>
              <div class="address"><i class="ion-ios-flag"></i> 43 Rue des machabées, Lyon 5</div>
              <i class="icon ion-chevron-right"></i>
          </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
