<ion-view title="Inscription">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Nom</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Prénom</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">N° de mobile</span>
                    <input type="tel" placeholder="">
                </label>
            </ion-list>
        </form>
        <a ui-sref="tabs.home" class="button button-stable button-block ">Inscription</a>
        <div>
            <p>En cliquant sur ce bouton, vous acceptez les conditions générales d'utilisation.</p>
        </div>
    </ion-content>
</ion-view>
