<ion-view title="Non-Connecté">
    <ion-content overflow-scroll="true" padding="false" scroll="false">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a ui-sref="signup" class="button button-positive button-block ">Inscription</a>
        <a ui-sref="signin" class="button button-stable button-block ">Connexion</a>
    </ion-content>
</ion-view>
