$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: rgb(105, 167, 255) !default;
$positive-dark: #2f6ab5 !default;
$positive-light: #8EBAFF !default;
$calm: rgb(153, 194, 255) !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$dark: #444 !default;
$grey: #8C8C8C !default;
$grey-light: #ABABAB !default;
$stable-dark: #ddd !default;
$gold: #FDCC5A;
