@import "variables";

* {
  color: $dark;
}

#home {
  text-align: center;
  .baseline {
    font-style: italic;
    font-size: 120%;
  }
}

#profile {

  #profile-header {
    text-align: center;

    .avatar {
      border-radius: 50%;
    }
    .name {
      font-weight: bold;
      font-size: 120%;
    }
    .edit {
      a {
        text-decoration: underline;;
        color: $dark;
      }
    }
  }

  #profile-information {
    text-align: center;
  }

  #profile-phone {
    .item-toggle {
      border: none;
      font-size: 100%;
    }
  }

  #profile-creditcard {
    text-align: center;
    font-size: 120%;
  }

}

#edit-profile {
  .avatar-item {
    text-align: center;
  }
}
#deliveries-end {
  text-align: center;
  .title {
    font-size: 120%;
  }
}

#notifications {
  text-align: center;
  .shop {
    font-weight: bold;
    font-size: 120%;
  }
}

#deliveries-timetable, #new-order {
  .col-timetable  {
    width: 30%;
    float: left;
    cursor: pointer;
  }
  .timetable {
    border-radius: 50px;
    border: 1px solid $dark;
    margin: 3px;
    text-align: center;
    padding: 5px;
    &.selected {
      background-color: $dark;
      color: $stable;
    }
    .item-divider:first-letter {
      text-transform: uppercase;
    }
  }
}

#new-order {
  .timetable {
    border-radius: 50px;
    border: 1px solid $dark;
    margin: 3px;
    text-align: center;
    &.selected {
      background-color: $dark;
      color: $stable;
    }
  }
}

#delivery, #order {
  #delivery-header {
    text-align: center;
    .name {
      font-weight: bold;
      font-size: 120%;
    }
    .address {
      padding: 10px 0px;
      overflow: hidden;
    }
    .actions {
      .button {
        margin: 10px;
      }
    }
  }
  #delivery-prices {
    text-align: center;
    &.row {
      padding: 0px;
    }
    .price-box {
      border: 1px solid $dark;
      .price {
        display: block;
        font-weight: bold;
        font-size: 120%;
      }
    }
  }
}

#finish-order-modal, #finish-delivery-modal {
  text-align: center;
  .detail {
    margin: 20px 10px;
  }
  input {
    border: 1px solid $dark;
    margin: auto;
    margin-top: 20px;
  }
  hr {
    margin: 10px 40%;
  }
  .delivery {
    font-weight: bold;
  }
  .instructions {
    margin: 10px 0px;
  }
  .stars {
    font-size: 300%;
    margin: 40px 0px;
  }
  ion-slide-page {
    width: 100%;
  }
  .title {
    font-weight: bold;
    font-size: 120%;
  }
  .code {
    margin: 10px;
    padding: 5px;
    color: $stable;
    background-color: $dark;
    font-weight: bold;
  }
}

#shop-order {
  .stars i {
    font-size: 250%;
  }
}

#cart-modal {
  .button-bar {
    float: right;
    padding: 0px;
    margin: 0px;
    width: auto;
    text-align: right;
    a, span {
      max-width: 40px;
      min-width: 20px;
      width: 20px;
      height: auto;
      min-height: 15px;
      max-height: 20px;
      line-height: normal;
      padding: 0px;
    }
  }
  .bar-footer {
    height: 150px;
  }
}

#order-content, #cart-modal, #delivery-prices {
  .item-icon-left {
    padding-left: 80px;
  }
}

.product {
  .name {
    font-size: 95%;
    font-weight: bold;
  }
  .detail {
    font-style: italic;
    font-size: 90%;
  }
  .price {
    font-size: 95%;
    font-weight: bold;
  }
}

.avatar {
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.address {
  overflow: hidden;
}
