@import "variables";

* {
  color: $dark;
}

#start {
  background-color: $positive;

  .buttons-block {
    position: absolute;
    bottom: 10%;
    width: 100%;
  }

  .logo {
    width: 50%;
    color: rgb(136, 136, 136);
    vertical-align: middle;
    border-radius: 50%;
    margin: 30% auto auto auto;
    display: block;
  }
}

.item-avatar .profil-pic {
    position: absolute;
    top: 15px;
    left: 25%;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px; }

.profil-pic {
  color: $positive;
}

#profile {
  .name {
    color: $positive;
  }
  .edit {
    font-size: 90%;
  }
  #profile-information, #profile-creditcard {
    i {
      color: $assertive;
    }
  }
}
#new-deliveries, #new-order {
  i {
    color: $assertive;
  }
}
.tab-nav.tabs {
  i {
    color: $positive;
  }
  .tab-item-active i {
    font-weight: bold;
    color: $positive;
  }
}

.button.icon-right {
  font-family: 'Helvetica Neue', Roboto, 'Segoe UI', sans-serif !important;
}

ion-header-bar, ion-nav-bar {
  &.bar-positive {
    border: none !important;
    background-color: $positive-light !important;
    text-align: center;
  }
  color: white !important;
  background-color: transparent;
  i, button {
    color: $positive-dark !important;
  }

  span {
    text-align: center !important;
  }
}

.button:not(.button-icon):not(.back-button):not(.quantity):not(.logout):not(.status) {
  border-radius: 30px;
  width: 70%;
  margin: 20px auto;
  font-weight: bold;
  border: none;
  line-height: 45px !important;

  &.button-stable {
    color: $positive;
    background-color: $light;

    &.bordered {
      border: 1px solid $positive;
    }
  }
  &.button-positive {
    color: $light;
    background-color: $positive;

    &.bordered {
      border: 1px solid $light;
    }
  }
}


#signin, #signup {
  background-color: $positive;

  .logo {
    width: 30%;
    color: rgb(136, 136, 136);
    vertical-align: middle;
    border-radius: 50%;
    margin: 5% auto auto auto;
    display: block;
  }
  .error-message {
    width: 100%;
    text-align: center;
  }

  .forgot-pwd {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: white;
    display: inline-block;
  }
  .cgu {
    width: 100%;
    text-align: center;
    color: white;
    display: inline-block;
    a {
      color: white;
      text-decoration: underline;
    }
  }
  .item {
    border: none;
    padding: 6px 16px 5px 16px;
    input {
      border-bottom: 2px solid white;
      padding: 0px;
    }
    input, label, .input-label {
      color: white;
      text-align: center;
    }
    .input-label {
      width: 100%;
      max-width: none;
      text-align: center;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: white;
    }
  }
}

#profile {

  #profile-header {
    text-align: center;

    .avatar {
      border-radius: 50%;
    }
    .name {
      font-weight: bold;
      font-size: 120%;
    }
    .edit {
      a {
        text-decoration: underline;;
        color: $dark;
      }
    }
  }

  #profile-information {
    text-align: center;
  }

  #profile-phone {
    .item-toggle {
      border: none;
      font-size: 100%;
    }
  }

  #profile-creditcard {
    text-align: center;
    font-size: 120%;
  }

}

#edit-profile {
  .avatar-item {
    text-align: center;
  }
}


#edit-creditcard {
  .title {
    color: $positive;
    font-size: 1.2em;
  }
}

#deliveries-end, #order-end, #order-send {
  text-align: center;
  background-color:$positive;

  .title {
    font-size: 120%;
    color: $gold;
    font-weight: bold;
  }

  ion-content {
    margin-top: 50%;
  }

  p {
    color: $light;
    padding-top: 12px;
    font-weight: bold;
  }

  .button.button-stable {
    margin-top: 30%;
  }
}

#notifications {
  text-align: center;

  .secondary {
    border-bottom: none;
  }

  .item-icon-left {
    .ion-android-notifications-none {
      color: $gold;
      font-size: 3em;
    }

    padding-top: 25px;
    padding-bottom: 25px;
  }

  .shop {
    font-weight: bold;
    font-size: 120%;
    color: $positive;
    margin: 25px 0 28px 0;
  }

  .stars {
    font-size: 2em;
    margin-top: 5px;
  }

  .ion-ios-calendar-outline, .ion-ios-location, .ion-ios-person {
    color: $positive-light;
  }
}

#deliveries, #orders {
  .item-content {
    padding-left: 85px;

    .color-status {
      position: absolute;
      left: 0;
      margin-left: 15px;

      .icon {
        height: auto;
        border: 1px solid;
        border-radius: 100px;
        padding: 7px;
      }
    }

    i {
      color: $positive;
    }

    .recipient {
      color: $grey;
      font-weight: bold;
    }

    .shop, .schedule {
      color: $grey;
    }

    .ion-chevron-right {
      font-size: 1em;
    }
  }

}

#deliveries-schedule, #new-order {
  .col-schedule  {
    width: 30%;
    float: left;
    cursor: pointer;
  }

  .item {
    border: none;
  }

  .item-divider {
    background: white;
    color: $grey;
    text-align: right;
    font-weight: bold;

    hr {
      background-color: #e0e0e0;
      height: 2px;
      border: none;
    }
  }

  .schedule {
    border: 1px solid $dark;
    border-radius: 50px;
    border-color: white;

    &.selected {
      background-color: gold;
      color: $light;
      font-weight: bold;
    }

    margin: 3px;
    text-align: center;
    padding: 5px;
    .item-divider:first-letter {
      text-transform: uppercase;
    }
  }
}

#new-deliveries, #shop-order {
  .info {
    color: $grey-light;
    text-align: center;
  }

  .item-icon-left {
    .ion-chevron-right {
      color: $positive;
      font-size: 1.2em;
    }

    .title {
      color: $grey;
      font-weight: bold;
    }

    .distance, .address {
      color: $grey;
    }

  }
}

.price-box {
  &.total {
    background-color: $positive;

    span {
      color: $light;
    }
  }

  &.commission {
    background-color: $stable;

    span {
      color: $grey;
    }
  }

  .price {
    display: block;
    font-weight: bold;
    font-size: 120%;
  }
}

#cart-modal {
  .bar {
    display: block;
    text-align: center;
    padding: 0;
  }

  .row {
    padding: 0;
  }

  span.quantity {
    color: $light;
  }
}

#delivery, #order {
  #delivery-header {
    text-align: center;
    .name {
      font-weight: bold;
      font-size: 120%;
      color: $positive;
    }
    .address {
      padding: 10px 0px;
      overflow: hidden;
      font-size: 1.1em;

      i {
        color: $assertive;
      }
    }
    .actions {
      .button {
        margin: 10px;
      }
    }
  }
  #delivery-prices {
    text-align: center;
    &.row {
      padding: 0px;
    }
  }

  .list {
    .title {
      text-align: center;
    }
  }
}

#address-modal {
  background-color: $positive;
  form {
    background-color: $positive;
  }

  .item {
    border: none;
    padding: 6px 16px 5px 16px;
    input {
      border-bottom: 2px solid white;
      padding: 0px;
    }
    input, label, .input-label {
      color: white;
      text-align: center;
    }
    .input-label {
      width: 100%;
      max-width: none;
      text-align: center;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: white;
    }
  }
}

.ion-ios-star {
  color: $gold;
}

.ion-ios-star-outline {
  color: $grey-light;
}

#finish-order-modal, #finish-delivery-modal {
  text-align: center;
  .detail {
    margin: 20px 10px;
    color: $grey-light;
  }
  input {
    border: 1px solid $dark;
    margin: auto;
    margin-top: 20px;
  }
  hr {
    margin: 40px 40%;
  }
  .delivery, .delivery i {
    font-weight: bold;
    color: $positive !important;
    font-size: 1.2em;
  }
  .instructions {
    margin: 10px 0px;
  }
  .stars {
    font-size: 300%;
    margin: 20px 0px;
  }
  ion-slide-page {
    width: 100%;
  }
  .title {
    font-weight: bold;
    font-size: 120%;
    color: $positive;
  }
  .code {
    margin: 10px;
    padding: 5px;
    color: $stable;
    background-color: $dark;
    font-weight: bold;
  }
}

#shop-order {
  .stars i {
    font-size: 250%;
  }
}

#cart-modal {
  .button-bar {
    float: right;
    padding: 0px;
    margin: 0px;
    width: auto;
    text-align: right;
    a, span {
      max-width: 40px;
      min-width: 20px;
      width: 20px;
      height: auto;
      min-height: 15px;
      max-height: 20px;
      line-height: normal;
      padding: 0px;
    }

    a {
      border-color: $gold;
      color: $positive;
    }

    span {
      background-color: $gold;
      width: 10px;
    }
  }
  .bar-footer {
    height: 150px;
  }
}

#order-content, #cart-modal, #delivery-prices {
  .item-icon-left {
    padding-left: 80px;
  }

  .search {
    background-color: $light;

    label {
      border: none;

      .icon-smc-wen {
        color: $positive-dark;
        font-size: 1.5em;
      }
    }
  }

  .results-title {
    background-color: $positive-light;
    text-align: center;
    display: none;

    p {
      margin: auto;
      color: $light;
      font-size: 1.2em;
      padding: 10px;
    }
  }
}

.product {
  .name {
    font-size: 95%;
    font-weight: bold;
  }
  .detail {
    font-style: italic;
    font-size: 90%;
  }
  .price {
    font-size: 95%;
    font-weight: bold;
    color: $positive;
  }
  img {
    height: 80px;
    max-width: 80px;
    float: left;
  }

  .cart-down {
    color: $energized;
  }
}

.avatar {
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.address {
  overflow: hidden;
}

.error-message {
  padding-left: 5px;
  font-weight: bold;
  font-size: 90%;
  color: #c0392b;
  span, i.icon {
    color: #c0392b;
  }
}

#toast-container {
  width: 100%;
  top: 12px;
  right: auto;
  .toast {
    width: 95%;
    margin: auto;
    .toast-title {
      color: white;
    }
    .toast-message {
      color: white;
    }
  }
}

.loading {
  span {
    color: white;
  }
}

.button-bar {
  .button:first-child {
    border-radius: 30px 0px 0px 30px;
  }
  .button:last-child {
    border-radius: 0px 30px 30px 0px;
  }
}
