<ion-view id="deliveries" title="Liste des livraisons">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <div class="bar bar-header">
        <div class="button-bar">
          <a class="button" ng-class="{'button-positive': status === 'pending'}" ng-click="status = 'pending'">En cours</a>
          <a class="button" ng-class="{'button-positive': status === 'archived'}" ng-click="status = 'archived'">Archivé</a>
        </div>
      </div>
        <ion-list class="content has-header">
            <ion-item class="item item-icon-left item-icon-right" ng-repeat="delivery in deliveries | filter: {status:status}" ui-sref="tabs.delivery({idDelivery: delivery.id})">
                <i class="icon ion-checkmark"></i>
                <div class="recipient"><i class="ion-ios-person"></i> {{delivery.delivery_request.recipient.firstname}} {{delivery.delivery_request.recipient.lastname}}</div>
                <div class="shop"><i class="ion-ios-location"></i> {{delivery.availability.shop.name}}</div>
                <div class="schedule"><i class="ion-ios-calendar-outline"></i>{{delivery.availability.schedule.schedule}}</div>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item" ng-if="(deliveries|filter:{status:status}).length === 0">
              Vous n'avez aucune commande <span ng-if="status === 'pending'">en attente</span><span ng-if="status !== 'pending'">archivée</span>.
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
