<ion-view id="new-deliveries" title="Sélection du magasin">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <ion-list class="shop-list">
            <div class="item item-divider info">
              Magasins les plus proches
            </div>
            <ion-item class="item-icon-right" ng-repeat="shop in shops">
                <div ng-click="setShop(shop)">
                  <div class="title">{{shop.name}}</div>
                  <div class="distance"><i class="icon-smc-rule"></i> {{shop.distance / 1000 | number: 2}} km</div>
                  <div class="address"><i class="icon-smc-marker"></i> {{shop.address}}</div>
                  <i class="icon ion-chevron-right"></i>
                </div>
            </ion-item>

            <ion-item class="item" ng-if="(shops.length === 0)">
              Aucun magasin n'a été trouvé à proximité.
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
