<ion-view id="delivery" title="Détail">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <div id="delivery-header">
        <div style="line-height: 100px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="name">{{delivery.delivery_request.recipient.firstname}} {{delivery.delivery_request.recipient.lastname}}</div>
        <div class="address"><i class="ion-ios-location-outline"></i> {{delivery.delivery_request.address.address}}, {{delivery.delivery_request.address.zip}} {{delivery.delivery_request.address.city}}</div>
        <div class="actions">
          <button class="button button-stable" ng-click="openFinishDeliveryModal()">Finaliser la commande</button>
          <button class="button button-stable">Contacter par SMS</button>
        </div>
      </div>
      <div id="delivery-prices" class="row">
        <div class="price-box col">
          <span class="price">{{delivery.total}}€</span>
          <span class="title">Prix total</span>
        </div>
        <div class="price-box col">
          <span class="price">3.50€</span>
          <span class="title">Frais de livraison</span>
        </div>
      </div>
      <ion-list>
          <div class="item item-divider">
            Liste des produits
          </div>
          <ion-item class="item product" ng-repeat="delivery_content in delivery.delivery_content">
              <img ng-src="{{delivery_content.product.image}}" alt="{{delivery_content.product.name}}">
              <div class="name">{{delivery_content.product.name}}</div>
              <div class="detail">{{delivery_content.product.detail}}</div>
              <div class="price">{{delivery_content.unit_price*delivery_content.quantity}}€ ({{delivery_content.quantity}})</div>
          </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
