<ion-modal-view id="finish-delivery-modal" ng-controller="DeliveriesFinishCtrl">
  <ion-header-bar>
    <span class="title center">Finaliser la commande</span>
    <button class="button button-icon button-clear icon ion-close-round" ng-click="closeFinishDeliveryModal()"></button>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-slide-box show-pager="false" ng-init="disableSwipe()">
      <ion-slide>
        <div class="detail">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ex mollitia pariatur similique fuga blanditiis, vitae, nam? Necessitatibus officiis iusto hic at, et similique, quae doloremque repudiandae deserunt eveniet inventore.
        </div>
        <input type="text" placeholder="Votre code livreur"/>
        <hr/>
        <span class="delivery"><i class="ion-android-car"></i> John D'eau</span>
        <div class="instructions">Notez votre acheteur</div>
        <div class="stars">
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </div>
        <button class="button button-stable" ng-click="nextSlide()">Valider la livraison</button>
      </ion-slide>
      <ion-slide>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="title">Fin de livraison</div>
        <div class="detail">Merci d'avoir fait vos courses avec Shop My Course</div>
        <button class="button button-stable" ng-click="closeFinishDeliveryModal()">Ok</button>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-model-view>
