<ion-view id="edit-creditcard" title="Carte de crédit">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="endEdit()">
          <i class="icon ion-edit"></i>
      </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <div class="list">
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus distinctio sint harum consequuntur placeat ad, ipsa ipsam modi voluptatum ut fugiat labore suscipit esse, ex, dolore. Est dolores dignissimos voluptatibus?</p>
        </div>
        <form name="cardForm">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Numéro de carte</span>
            <input type="text" name="number" placeholder="Numéro de carte" ng-model="card.number" required ng-pattern="validation.number.pattern">
          </label>
          <div class="error-message" ng-show="cardForm.number.$error.pattern">
            <span><i class="icon ion-close-circled"></i> {{validation.number.message}}</span>
          </div>

          <div>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Expiration</span>
            </label>
            <div class="row">

              <label class="item item-input item-select col-50">
                <div class="input-label">
                      &nbsp;
                </div>
                <select ng-model="card.year" ng-options="year.year for year in expirations" required>
                  <option value="" disabled>Année</option>
                </select>
              </label>

              <label class="item item-input item-select col-50">
                <div class="input-label">
                      &nbsp;
                </div>
                <select ng-model="card.month" ng-options="month for month in card.year.months" required>
                  <option value="" disabled>Mois</option>
                </select>
              </label>

            </div>
          </div>


          <label class="item item-input item-stacked-label">
            <span class="input-label">CVC/CVV</span>
            <input type="text" name="cvv" placeholder="CVC/CVV" ng-model="card.cvv" required ng-pattern="validation.cvv.pattern">
          </label>
          <div class="error-message" ng-show="cardForm.cvv.$error.pattern">
            <span><i class="icon ion-close-circled"></i> {{validation.cvv.message}}</span>
          </div>

          <button class="button button-stable button-block" ng-click="endEdit($event)" ng-disabled="cardForm.$invalid">OK</button>
        </form>

      </div>
    </ion-content>
</ion-view>
