<ion-view id="order-content" title="Liste de course">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="openCartModal()">
          <i class="icon ion-ios-cart-outline"></i>
      </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <ion-list>
          <div class="item item-divider">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Rechercher un produit">
            </label>
          </div>
          <ion-item class="item item-icon-left item-icon-right product">
              <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
              <div class="name">Blanc de poulet</div>
              <div class="detail">La barquette de 2x100g</div>
              <div class="price">6.10€</div>
              <i class="icon ion-ios-cart-outline"></i>
          </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
