<ion-view id="orders" title="Liste des commandes">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <div class="bar bar-header">
        <div class="button-bar">
          <a class="button" ng-class="{'button-positive': status === 'pending'}" ng-click="status = 'pending'">En cours</a>
          <a class="button" ng-class="{'button-positive': status === 'archived'}" ng-click="status = 'archived'">Archivé</a>
        </div>
      </div>
        <ion-list class="content has-header">
            <ion-item class="item item-icon-left item-icon-right" ng-repeat="order in orders | filter: byStatus(status)" ui-sref="tabs.order({idOrder: order.id})">
                <i class="icon {{ deliveryStatus[order.status].icon }}" style="color: {{ deliveryStatus[order.status].color }}"></i>
                <div class="recipient" ng-if="order.deliveryman"><i class="ion-ios-person"></i>{{order.deliveryman.firstname}} {{order.deliveryman.lastname}}</div>
                <div class="shop"><i class="ion-ios-location"></i> {{order.shop.name}}</div>
                <div class="schedule"><i class="ion-ios-calendar-outline"></i> {{order.schedule.date | date : 'EEEE' }} {{order.schedule.schedule}}</div>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item" ng-if="(orders|filter:byStatus(status)).length === 0">
              Vous n'avez aucune commande <span ng-if="status === 'pending'">en attente</span><span ng-if="status !== 'pending'">archivée</span>.
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
