<ion-view id="order" title="Détail">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <div id="delivery-header">
        <div style="line-height: 100px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="name">{{order.deliveryman.firstname}} {{order.deliveryman.lastname}}</div>
        <div class="address"><i class="ion-ios-location-outline"></i> {{order.address.address}}, {{order.address.zip}} {{order.address.city}}</div>
        <div class="actions">
          <button class="button button-stable" ng-if="order.status === 'completed' && !order.buyer_rating" ng-click="openFinishOrderModal()">Finaliser la commande</button>
          <button class="button button-stable" ng-if="order.status !== 'completed' || order.status == 'accepted'" ui-sref="tabs.ordercontent({idOrder: order.id})">Modifier le panier</button>
          <button class="button button-stable" ng-if="order.deliveryman.share_phone" ng-click="sendSMS()">Contacter par SMS</button>
          <div ng-if="!order.deliveryman.share_phone">
            Le livreur ne souhaite pas être contacté.
          </div>
        </div>
      </div>
      <div id="delivery-prices" class="row">
        <div class="price-box col">
          <span class="price">{{order.total | number: 2 || 0}}€</span>
          <span class="title">Prix total</span>
        </div>
        <div class="price-box col">
          <span class="price">{{order.commission + order.shipping_total | number: 2 || 0}}€</span>
          <span class="title">Frais de livraison</span>
        </div>
      </div>
      <ion-list>
          <div class="item item-divider">
            Liste des produits
          </div>
          <ion-item class="item product" ng-repeat="delivery_content in order.delivery_contents">
              <img ng-src="{{delivery_content.product.image_url}}" alt="{{delivery_content.product.name}}">
              <div class="name">{{delivery_content.product.name}}</div>
              <div class="detail">{{delivery_content.product.detail}}</div>
              <div class="price">{{delivery_content.unit_price*delivery_content.quantity | number: 2 || 0 }}€ ({{delivery_content.quantity}})</div>
          </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
