<ion-modal-view id="address-modal" ng-controller="OrderAddressCtrl">
  <ion-header-bar class="bar-positive">
    <span class="title center">Adresse</span>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <form class="list" name="addressForm">
        <ion-list>
            <!-- Adresse -->
            <label class="item item-input item-floating-label">
                <span class="input-label">Adresse</span>
                <input type="text" name="address" ng-model="address.address" placeholder="Saisissez votre addresse" ng-pattern="validation.address.pattern" required="required">
            </label>
            <div class="error-message" ng-show="addressForm.address.$error.pattern">
              <span><i class="icon ion-close-circled"></i> {{validation.address.message}}</span>
            </div>
            <!-- Ville -->
            <label class="item item-input item-floating-label">
                <span class="input-label">Ville</span>
                <input type="text" name="city" ng-model="address.city" placeholder="Saisissez votre ville" ng-pattern="validation.city.pattern" required="required">
            </label>
            <div class="error-message" ng-show="addressForm.city.$error.pattern">
              <span><i class="icon ion-close-circled"></i> {{validation.city.message}}</span>
            </div>
            <!-- Code postal -->
            <label class="item item-input item-floating-label">
                <span class="input-label">Code postam</span>
                <input type="text" name="zip" ng-model="address.zip" placeholder="Saisissez votre ville" ng-pattern="validation.zipcode.pattern" required="required">
            </label>
            <div class="error-message" ng-show="addressForm.zip.$error.pattern">
              <span><i class="icon ion-close-circled"></i> {{validation.zip.message}}</span>
            </div>
            <!-- Complément d'adresse -->
            <label class="item item-input item-floating-label">
                <span class="input-label">Complément</span>
                <input type="text" name="additional_address" ng-model="address.additional_address" placeholder="Saisissez votre addresse">
            </label>
        </ion-list>
    </form>
    <a ng-click="setAddress(address)" class="button button-stable button-block" ng-disabled="addressForm.$invalid">Envoyer</a>
  </ion-content>
</ion-model-view>
