<ion-modal-view id="finish-order-modal" ng-controller="OrdersFinishCtrl">
  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon button-clear icon ion-close-round" ng-click="closeFinishOrderModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header finish">
    <ion-slide-box show-pager="false" ng-init="disableSwipe()">
      <ion-slide>
        <span class="title">Fin de livraison</span>
        <div class="detail">
          Votre livraison a été effectuée avec succès? Donnez dés maintenant votre code acheteur à votre livreur pour finaliser la livraison.
        </div>
        <span class="code">{{ order.validation_code }}</span>
        <p class="instructions">
          Communiquer ce code au livreur
        </p>
        <hr/>
        <span class="delivery"><i class="ion-android-truck-checked"></i> {{order.deliveryman.firstname}} {{order.deliveryman.lastname}}</span>
        <div class="stars">
            <i ng-class="{'icon-smc-star-filled': ratingStar < 1, 'icon-smc-star-filled yellow': ratingStar >= 1}" ng-click="setRatingStar(1)"></i>
            <i ng-class="{'icon-smc-star-filled': ratingStar < 2, 'icon-smc-star-filled yellow': ratingStar >= 2}" ng-click="setRatingStar(2)"></i>
            <i ng-class="{'icon-smc-star-filled': ratingStar < 3, 'icon-smc-star-filled yellow': ratingStar >= 3}" ng-click="setRatingStar(3)"></i>
            <i ng-class="{'icon-smc-star-filled': ratingStar < 4, 'icon-smc-star-filled yellow': ratingStar >= 4}" ng-click="setRatingStar(4)"></i>
            <i ng-class="{'icon-smc-star-filled': ratingStar < 5, 'icon-smc-star-filled yellow': ratingStar >= 5}" ng-click="setRatingStar(5)"></i>
        </div>
        <div class="instructions">Notez votre livreur</div>
        <button class="button button-positive button-block" ng-click="finalizeDelivery(order)">Valider la livraison</button>
      </ion-slide>
      <ion-slide>
        <div style="line-height: 250px; border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgba(136, 136, 136, 0); vertical-align: middle;"></i>
        </div>
        <div class="title">Fin de livraison</div>
        <div class="detail">Merci d'avoir fait vos courses avec Shop My Course</div>
        <button class="button button-positive" ng-click="closeFinishOrderModal()">Ok</button>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-model-view>
