* {
  color: #8C8C8C; }

#start {
  background-color: #69a7ff; }
  #start .buttons-block {
    position: absolute;
    bottom: 10%;
    width: 100%; }
  #start .logo {
    width: 50%;
    color: #888888;
    vertical-align: middle;
    border-radius: 50%;
    margin: 30% auto auto auto;
    display: block; }

.item-avatar .profil-pic {
  position: absolute;
  top: 15px;
  left: 25%;
  font-size: 36px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  border-radius: 4px; }

.profil-pic {
  color: #69a7ff; }

#profile .name {
  color: #69a7ff; }

#profile .edit {
  font-size: 80%;
  margin-top: 7px; }

#profile #profile-information i, #profile #profile-creditcard i {
  color: #ef473a; }

#profile #profile-information > div, #profile #profile-creditcard > div {
  font-size: 15px; }

#profile #profile-information > div {
  margin-bottom: 12px; }
  #profile #profile-information > div:last-child {
    margin-bottom: 0; }

#profile #profile-phone > div {
  font-size: 13px; }

#profile .item {
  border-left: none;
  border-right: none; }
  #profile .item:first-child {
    border-top: none; }

.default-form form {
  padding: 0 20px; }

.default-form .item {
  border: none; }
  .default-form .item .title {
    white-space: normal;
    text-align: center;
    color: #69a7ff;
    font-size: 1.2em;
    line-height: 1.3em; }

.default-form .item-stacked-label {
  padding: 0; }

.default-form .input-label {
  color: #8C8C8C;
  font-size: 15px;
  font-weight: bold; }

.default-form input {
  border: solid 1px #ABABAB;
  border-radius: 0;
  margin: 4px 0 10px 0;
  padding: 5px; }

.default-form .row {
  padding: 0; }
  .default-form .row .item-select {
    margin: 4px 0 10px 0;
    border-radius: 0 !important;
    padding: 2px; }
    .default-form .row .item-select select {
      border: solid 1px #ABABAB;
      width: 100%;
      max-width: 100%;
      border-radius: 0;
      height: 35px;
      padding: 5px 35px 5px 5px;
      color: #ABABAB; }
      .default-form .row .item-select select:first-child {
        border-right: 0; }
    .default-form .row .item-select:after {
      margin-top: -7px; }
    .default-form .row .item-select:first-child select {
      border-right: 0; }

.default-form .info {
  font-size: 13px;
  white-space: normal;
  display: block;
  padding: 26px 10px 10px 10px;
  font-weight: bold; }

#new-deliveries i, #new-order i {
  color: #ef473a; }

.tab-nav.tabs i {
  color: #69a7ff; }

.tab-nav.tabs .tab-item-active i {
  font-weight: bold;
  color: #69a7ff; }

.button.icon-right {
  font-family: 'Helvetica Neue', Roboto, 'Segoe UI', sans-serif !important; }

ion-header-bar, ion-nav-bar {
  color: white;
  background-color: transparent; }
  ion-header-bar.bar-positive, ion-nav-bar.bar-positive {
    border: none;
    background-color: #8EBAFF;
    text-align: center; }
  ion-header-bar i, ion-header-bar button, ion-nav-bar i, ion-nav-bar button {
    color: #2f6ab5; }
  ion-header-bar span, ion-nav-bar span {
    text-align: center; }

.button-block {
  border-radius: 30px;
  width: 90%;
  margin: 20px auto;
  font-weight: bold;
  border: none;
  line-height: 47px; }
  .button-block.icon:before, .button-block.icon-left:before, .button-block.icon-right:before {
    line-height: 47px; }
  .button-block.button-stable, .button-block.button-stable:hover {
    color: #69a7ff;
    background-color: #fff; }
    .button-block.button-stable.bordered, .button-block.button-stable:hover.bordered {
      border: 1px solid #69a7ff; }
  .button-block.button-positive, .button-block.button-positive:hover {
    color: #fff;
    background-color: #69a7ff; }
    .button-block.button-positive.bordered, .button-block.button-positive:hover.bordered {
      border: 1px solid #fff; }

#home .logo-centered {
  width: 80%;
  margin: auto; }
  #home .logo-centered img {
    width: 100%; }

.start ion-nav-bar.bar.bar-positive, .start ion-header-bar.bar.bar-positive, .signin ion-nav-bar.bar.bar-positive, .signin ion-header-bar.bar.bar-positive, .signup ion-nav-bar.bar.bar-positive, .signup ion-header-bar.bar.bar-positive {
  background-color: transparent;
  background-image: none; }

#signin, #signup {
  background-color: #69a7ff; }
  #signin .logo, #signup .logo {
    width: 30%;
    color: #888888;
    vertical-align: middle;
    border-radius: 50%;
    margin: 5% auto auto auto;
    display: block; }
  #signin .error-message, #signup .error-message {
    width: 100%;
    text-align: center; }
  #signin .forgot-pwd, #signup .forgot-pwd {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: white;
    display: inline-block; }
  #signin .cgu, #signup .cgu {
    width: 100%;
    text-align: center;
    color: white;
    display: inline-block; }
    #signin .cgu a, #signup .cgu a {
      color: white;
      text-decoration: underline; }
  #signin .item, #signup .item {
    border: none;
    padding: 5px 16px 2px 16px; }
    #signin .item input, #signup .item input {
      border-bottom: 2px solid white;
      padding: 0px; }
    #signin .item input, #signin .item label, #signin .item .input-label, #signup .item input, #signup .item label, #signup .item .input-label {
      color: white;
      text-align: center; }
    #signin .item .input-label, #signup .item .input-label {
      width: 100%;
      max-width: none;
      text-align: center; }
    #signin .item ::-webkit-input-placeholder, #signup .item ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white; }
    #signin .item ::-moz-placeholder, #signup .item ::-moz-placeholder {
      /* Firefox 19+ */
      color: white; }
    #signin .item :-ms-input-placeholder, #signup .item :-ms-input-placeholder {
      /* IE 10+ */
      color: white; }
    #signin .item :-moz-placeholder, #signup .item :-moz-placeholder {
      /* Firefox 18- */
      color: white; }

#profile #profile-header {
  text-align: center; }
  #profile #profile-header .avatar {
    border-radius: 50%; }
  #profile #profile-header .name {
    font-weight: bold;
    font-size: 120%; }
  #profile #profile-header .edit a {
    text-decoration: underline;
    color: #444; }

#profile #profile-information {
  text-align: center; }

#profile #profile-phone .item-toggle {
  border: none;
  font-size: 100%; }

#profile #profile-creditcard {
  text-align: center;
  font-size: 120%; }

#edit-profile .avatar-item {
  text-align: center; }

#deliveries-end {
  text-align: center;
  background-color: #69a7ff; }
  #deliveries-end .title {
    font-size: 120%;
    color: #FDCC5A;
    font-weight: bold; }
  #deliveries-end ion-content {
    margin-top: 50%; }
  #deliveries-end p {
    color: #fff;
    padding-top: 12px;
    font-weight: bold; }
  #deliveries-end .button.button-stable {
    margin-top: 30%; }

#notifications {
  text-align: center; }
  #notifications .secondary {
    border-bottom: none; }
  #notifications .item-icon-left {
    padding-top: 25px;
    padding-bottom: 25px; }
    #notifications .item-icon-left .ion-android-notifications-none {
      color: #FDCC5A;
      font-size: 3em; }
  #notifications .shop {
    font-weight: bold;
    font-size: 120%;
    color: #69a7ff;
    margin: 25px 0 28px 0; }
  #notifications .stars {
    font-size: 2em;
    margin-top: 5px; }
  #notifications .ion-ios-calendar-outline, #notifications .ion-ios-location, #notifications .ion-ios-person {
    color: #8EBAFF; }

#deliveries .item-content, #orders .item-content {
  padding-left: 85px; }
  #deliveries .item-content .color-status, #orders .item-content .color-status {
    position: absolute;
    left: 0;
    margin-left: 15px; }
    #deliveries .item-content .color-status .icon, #orders .item-content .color-status .icon {
      height: auto;
      border: 1px solid;
      border-radius: 100px;
      padding: 7px; }
  #deliveries .item-content i, #orders .item-content i {
    color: #69a7ff; }
  #deliveries .item-content .recipient, #orders .item-content .recipient {
    color: #8C8C8C;
    font-weight: bold; }
  #deliveries .item-content .shop, #deliveries .item-content .schedule, #orders .item-content .shop, #orders .item-content .schedule {
    color: #8C8C8C; }
  #deliveries .item-content .ion-chevron-right, #orders .item-content .ion-chevron-right {
    font-size: 1em; }

#deliveries-schedule .col-schedule, #new-order .col-schedule {
  width: 30%;
  float: left;
  cursor: pointer; }

#deliveries-schedule .item, #new-order .item {
  border: none; }

#deliveries-schedule .item-divider, #new-order .item-divider {
  background: white;
  color: #8C8C8C;
  text-align: right;
  font-weight: bold; }
  #deliveries-schedule .item-divider hr, #new-order .item-divider hr {
    background-color: #e0e0e0;
    height: 2px;
    border: none; }

#deliveries-schedule .schedule, #new-order .schedule {
  border: 1px solid #444;
  border-radius: 50px;
  border-color: white;
  margin: 3px;
  text-align: center;
  padding: 5px; }
  #deliveries-schedule .schedule.selected, #new-order .schedule.selected {
    background-color: gold;
    color: #fff;
    font-weight: bold; }
  #deliveries-schedule .schedule .item-divider:first-letter, #new-order .schedule .item-divider:first-letter {
    text-transform: uppercase; }

#new-deliveries .info, #shop-order .info {
  color: #ABABAB;
  text-align: center; }

#new-deliveries .item-icon-right .ion-chevron-right, #shop-order .item-icon-right .ion-chevron-right {
  color: #69a7ff;
  font-size: 1.2em; }

#new-deliveries .item-icon-right .title, #shop-order .item-icon-right .title {
  color: #8C8C8C;
  font-weight: bold; }

#new-deliveries .item-icon-right .distance, #new-deliveries .item-icon-right .address, #shop-order .item-icon-right .distance, #shop-order .item-icon-right .address {
  color: #8C8C8C; }

.price-box.total {
  background-color: #69a7ff; }
  .price-box.total span {
    color: #fff; }

.price-box.commission {
  background-color: #f8f8f8; }
  .price-box.commission span {
    color: #8C8C8C; }

.price-box .price {
  display: block;
  font-weight: bold;
  font-size: 120%; }

#cart-modal .bar {
  display: block;
  text-align: center;
  padding: 0; }

#cart-modal .row {
  padding: 0; }

#cart-modal span.quantity {
  color: #fff; }

#delivery #delivery-header, #order #delivery-header {
  text-align: center; }
  #delivery #delivery-header .name, #order #delivery-header .name {
    font-weight: bold;
    font-size: 120%;
    color: #69a7ff; }
  #delivery #delivery-header .address, #order #delivery-header .address {
    padding: 10px 0px;
    overflow: hidden;
    font-size: 1.1em; }
    #delivery #delivery-header .address i, #order #delivery-header .address i {
      color: #ef473a; }
  #delivery #delivery-header .actions .button, #order #delivery-header .actions .button {
    margin: 10px; }

#delivery #delivery-prices, #order #delivery-prices {
  text-align: center; }
  #delivery #delivery-prices.row, #order #delivery-prices.row {
    padding: 0px; }

#delivery .list .title, #order .list .title {
  text-align: center; }

#address-modal {
  background-color: #69a7ff; }
  #address-modal form {
    background-color: #69a7ff; }
  #address-modal .item {
    border: none;
    padding: 6px 16px 5px 16px; }
    #address-modal .item input {
      border-bottom: 2px solid white;
      padding: 0px; }
    #address-modal .item input, #address-modal .item label, #address-modal .item .input-label {
      color: white;
      text-align: center; }
    #address-modal .item .input-label {
      width: 100%;
      max-width: none;
      text-align: center; }
    #address-modal .item ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white; }
    #address-modal .item ::-moz-placeholder {
      /* Firefox 19+ */
      color: white; }
    #address-modal .item :-ms-input-placeholder {
      /* IE 10+ */
      color: white; }
    #address-modal .item :-moz-placeholder {
      /* Firefox 18- */
      color: white; }

.ion-ios-star {
  color: #FDCC5A; }

.ion-ios-star-outline {
  color: #ABABAB; }

#finish-order-modal, #finish-delivery-modal {
  text-align: center; }
  #finish-order-modal .detail, #finish-delivery-modal .detail {
    margin: 20px 10px;
    color: #ABABAB; }
  #finish-order-modal input, #finish-delivery-modal input {
    border: 1px solid #444;
    margin: auto;
    margin-top: 20px; }
  #finish-order-modal hr, #finish-delivery-modal hr {
    margin: 40px 40%; }
  #finish-order-modal .delivery, #finish-order-modal .delivery i, #finish-delivery-modal .delivery, #finish-delivery-modal .delivery i {
    font-weight: bold;
    color: #69a7ff !important;
    font-size: 1.2em; }
  #finish-order-modal .instructions, #finish-delivery-modal .instructions {
    margin: 10px 0px; }
  #finish-order-modal .stars, #finish-delivery-modal .stars {
    font-size: 300%;
    margin: 20px 0px; }
  #finish-order-modal ion-slide-page, #finish-delivery-modal ion-slide-page {
    width: 100%; }
  #finish-order-modal .title, #finish-delivery-modal .title {
    font-weight: bold;
    font-size: 120%;
    color: #69a7ff; }
  #finish-order-modal .code, #finish-delivery-modal .code {
    margin: 10px;
    padding: 5px;
    color: #f8f8f8;
    background-color: #444;
    font-weight: bold; }

#shop-order .stars i {
  font-size: 250%; }

#cart-modal .button-bar {
  float: right;
  padding: 0px;
  margin: 0px;
  width: auto;
  text-align: right; }
  #cart-modal .button-bar a, #cart-modal .button-bar span {
    max-width: 40px;
    min-width: 20px;
    width: 20px;
    height: auto;
    min-height: 15px;
    max-height: 20px;
    line-height: normal;
    padding: 0px; }
  #cart-modal .button-bar a {
    border-color: #FDCC5A;
    color: #69a7ff; }
  #cart-modal .button-bar span {
    background-color: #FDCC5A;
    width: 10px; }

#cart-modal .bar-footer {
  height: 150px; }

#order-content .item-icon-left, #cart-modal .item-icon-left, #delivery-prices .item-icon-left {
  padding-left: 80px; }

#order-content .search, #cart-modal .search, #delivery-prices .search {
  background-color: #fff; }
  #order-content .search label, #cart-modal .search label, #delivery-prices .search label {
    border: none; }
    #order-content .search label .icon-smc-wen, #cart-modal .search label .icon-smc-wen, #delivery-prices .search label .icon-smc-wen {
      color: #2f6ab5;
      font-size: 1.5em; }

#order-content .results-title, #cart-modal .results-title, #delivery-prices .results-title {
  background-color: #8EBAFF;
  text-align: center;
  display: none; }
  #order-content .results-title p, #cart-modal .results-title p, #delivery-prices .results-title p {
    margin: auto;
    color: #fff;
    font-size: 1.2em;
    padding: 10px; }

.product .name {
  font-size: 95%;
  font-weight: bold; }

.product .detail {
  font-style: italic;
  font-size: 90%; }

.product .price {
  font-size: 95%;
  font-weight: bold;
  color: #69a7ff; }

.product img {
  height: 80px;
  max-width: 80px;
  float: left; }

.product .cart-down {
  color: #ffc900; }

.avatar {
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px; }

.address {
  overflow: hidden; }

.error-message {
  padding-left: 5px;
  font-weight: bold;
  font-size: 90%;
  color: #c0392b; }
  .error-message span, .error-message i.icon {
    color: #c0392b; }

#toast-container {
  width: 100%;
  top: 12px;
  right: auto; }
  #toast-container .toast {
    width: 95%;
    margin: auto; }
    #toast-container .toast .toast-title {
      color: white; }
    #toast-container .toast .toast-message {
      color: white; }

.loading span {
  color: white; }

.bar-header .button-bar {
  background: #f8f8f8;
  border-radius: 30px; }
  .bar-header .button-bar .button {
    border: none;
    border-radius: 30px;
    font-weight: bold; }
