* {
  color: #444; }

#start {
  background-color: #69a7ff; }
  #start .buttons-block {
    position: absolute;
    bottom: 10%;
    width: 100%; }
  #start .button {
    border-radius: 30px;
    width: 70%;
    margin: 20px auto;
    font-weight: bold;
    color: #69a7ff;
    border: none;
    line-height: 45px; }
  #start .logo {
    width: 50%;
    color: #888888;
    vertical-align: middle;
    border-radius: 50%;
    margin: 30% auto auto auto;
    display: block; }

#profile .profil-pic {
  color: #69a7ff; }

#profile .name {
  color: #69a7ff; }

#profile .edit {
  font-size: 90%; }

#profile #profile-information i, #profile #profile-creditcard i {
  color: #ef473a; }

#new-deliveries i, #new-order i {
  color: #ef473a; }

.tab-nav.tabs i {
  color: #69a7ff; }

.tab-nav.tabs .tab-item-active i {
  font-weight: bold;
  color: #69a7ff; }

#home .button {
  border-radius: 30px;
  width: 70%;
  margin: 20px auto;
  font-weight: bold;
  background-color: #69a7ff;
  color: white !important;
  border: none;
  line-height: 45px; }
  #home .button span {
    color: white !important; }

.button.icon-right {
  font-family: 'Helvetica Neue', Roboto, 'Segoe UI', sans-serif !important; }

ion-header-bar, ion-nav-bar {
  color: white !important;
  background-color: transparent; }
  ion-header-bar.bar-positive, ion-nav-bar.bar-positive {
    border: none !important;
    background-image: linear-gradient(0deg, #69a7ff, #69a7ff 50%, transparent 50%) !important; }
  ion-header-bar i, ion-nav-bar i {
    color: white; }

#signin, #signup {
  background-color: #69a7ff; }
  #signin .logo, #signup .logo {
    width: 30%;
    color: #888888;
    vertical-align: middle;
    border-radius: 50%;
    margin: 5% auto auto auto;
    display: block; }
  #signin .error-message, #signup .error-message {
    width: 100%;
    text-align: center; }
  #signin .button.button-stable, #signup .button.button-stable {
    border-radius: 30px;
    width: 70%;
    margin: 20px auto;
    font-weight: bold;
    color: #69a7ff;
    border: none;
    line-height: 45px; }
  #signin .forgot-pwd, #signup .forgot-pwd {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: white;
    display: inline-block; }
  #signin .cgu, #signup .cgu {
    width: 100%;
    text-align: center;
    color: white;
    display: inline-block; }
    #signin .cgu a, #signup .cgu a {
      color: white;
      text-decoration: underline; }
  #signin .item, #signup .item {
    border: none;
    padding: 6px 16px 5px 16px; }
    #signin .item input, #signup .item input {
      border-bottom: 2px solid white;
      padding: 0px; }
    #signin .item input, #signin .item label, #signin .item .input-label, #signup .item input, #signup .item label, #signup .item .input-label {
      color: white;
      text-align: center; }
    #signin .item .input-label, #signup .item .input-label {
      width: 100%;
      max-width: none;
      text-align: center; }
    #signin .item ::-webkit-input-placeholder, #signup .item ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white; }
    #signin .item ::-moz-placeholder, #signup .item ::-moz-placeholder {
      /* Firefox 19+ */
      color: white; }
    #signin .item :-ms-input-placeholder, #signup .item :-ms-input-placeholder {
      /* IE 10+ */
      color: white; }
    #signin .item :-moz-placeholder, #signup .item :-moz-placeholder {
      /* Firefox 18- */
      color: white; }

#profile #profile-header {
  text-align: center; }
  #profile #profile-header .avatar {
    border-radius: 50%; }
  #profile #profile-header .name {
    font-weight: bold;
    font-size: 120%; }
  #profile #profile-header .edit a {
    text-decoration: underline;
    color: #444; }

#profile #profile-information {
  text-align: center; }

#profile #profile-phone .item-toggle {
  border: none;
  font-size: 100%; }

#profile #profile-creditcard {
  text-align: center;
  font-size: 120%; }

#edit-profile .avatar-item {
  text-align: center; }

#deliveries-end {
  text-align: center;
  background-color: #69a7ff; }
  #deliveries-end .title {
    font-size: 120%;
    color: #FDCC5A;
    font-weight: bold; }
  #deliveries-end ion-content {
    margin-top: 50%; }
  #deliveries-end p {
    color: #fff;
    padding-top: 12px;
    font-weight: bold; }
  #deliveries-end .button.button-stable {
    border-radius: 30px;
    width: 70%;
    margin: 20px auto;
    font-weight: bold;
    color: #69a7ff;
    background-color: #fff;
    border: none;
    line-height: 45px;
    margin-top: 30%; }

#notifications {
  text-align: center; }
  #notifications .shop {
    font-weight: bold;
    font-size: 120%; }

#deliveries-schedule .col-schedule, #new-order .col-schedule {
  width: 30%;
  float: left;
  cursor: pointer; }

#deliveries-schedule .item, #new-order .item {
  border: none; }

#deliveries-schedule .item-divider, #new-order .item-divider {
  background: white;
  color: #8C8C8C;
  text-align: right;
  font-weight: bold; }
  #deliveries-schedule .item-divider hr, #new-order .item-divider hr {
    background-color: #e0e0e0;
    height: 2px;
    border: none; }

#deliveries-schedule .schedule, #new-order .schedule {
  border: 1px solid #444;
  border-radius: 50px;
  border-color: white;
  margin: 3px;
  text-align: center;
  padding: 5px; }
  #deliveries-schedule .schedule.selected, #new-order .schedule.selected {
    background-color: gold;
    color: #fff;
    font-weight: bold; }
  #deliveries-schedule .schedule .item-divider:first-letter, #new-order .schedule .item-divider:first-letter {
    text-transform: uppercase; }

#deliveries-schedule .button.button-stable, #new-order .button.button-stable {
  border-radius: 30px;
  width: 70%;
  margin: 20px auto;
  font-weight: bold;
  background-color: #69a7ff;
  color: #fff;
  border: none;
  line-height: 45px; }

#new-deliveries .info, #shop-order .info {
  color: #ABABAB;
  text-align: center; }

#new-deliveries .item-icon-left .ion-chevron-right, #shop-order .item-icon-left .ion-chevron-right {
  color: #69a7ff;
  font-size: 1.2em; }

#new-deliveries .item-icon-left .title, #shop-order .item-icon-left .title {
  color: #8C8C8C;
  font-weight: bold; }

#new-deliveries .item-icon-left .distance, #new-deliveries .item-icon-left .address, #shop-order .item-icon-left .distance, #shop-order .item-icon-left .address {
  color: #8C8C8C; }

#new-order .schedule {
  border-radius: 50px;
  border: 1px solid #444;
  margin: 3px;
  text-align: center; }
  #new-order .schedule.selected {
    background-color: #444;
    color: #f8f8f8; }

#delivery #delivery-header, #order #delivery-header {
  text-align: center; }
  #delivery #delivery-header .name, #order #delivery-header .name {
    font-weight: bold;
    font-size: 120%; }
  #delivery #delivery-header .address, #order #delivery-header .address {
    padding: 10px 0px;
    overflow: hidden; }
  #delivery #delivery-header .actions .button, #order #delivery-header .actions .button {
    margin: 10px; }

#delivery #delivery-prices, #order #delivery-prices {
  text-align: center; }
  #delivery #delivery-prices.row, #order #delivery-prices.row {
    padding: 0px; }
  #delivery #delivery-prices .price-box, #order #delivery-prices .price-box {
    border: 1px solid #444; }
    #delivery #delivery-prices .price-box .price, #order #delivery-prices .price-box .price {
      display: block;
      font-weight: bold;
      font-size: 120%; }

#finish-order-modal, #finish-delivery-modal {
  text-align: center; }
  #finish-order-modal .detail, #finish-delivery-modal .detail {
    margin: 20px 10px; }
  #finish-order-modal input, #finish-delivery-modal input {
    border: 1px solid #444;
    margin: auto;
    margin-top: 20px; }
  #finish-order-modal hr, #finish-delivery-modal hr {
    margin: 10px 40%; }
  #finish-order-modal .delivery, #finish-delivery-modal .delivery {
    font-weight: bold; }
  #finish-order-modal .instructions, #finish-delivery-modal .instructions {
    margin: 10px 0px; }
  #finish-order-modal .stars, #finish-delivery-modal .stars {
    font-size: 300%;
    margin: 40px 0px; }
  #finish-order-modal ion-slide-page, #finish-delivery-modal ion-slide-page {
    width: 100%; }
  #finish-order-modal .title, #finish-delivery-modal .title {
    font-weight: bold;
    font-size: 120%; }
  #finish-order-modal .code, #finish-delivery-modal .code {
    margin: 10px;
    padding: 5px;
    color: #f8f8f8;
    background-color: #444;
    font-weight: bold; }

#shop-order .stars i {
  font-size: 250%; }

#cart-modal .button-bar {
  float: right;
  padding: 0px;
  margin: 0px;
  width: auto;
  text-align: right; }
  #cart-modal .button-bar a, #cart-modal .button-bar span {
    max-width: 40px;
    min-width: 20px;
    width: 20px;
    height: auto;
    min-height: 15px;
    max-height: 20px;
    line-height: normal;
    padding: 0px; }

#cart-modal .bar-footer {
  height: 150px; }

#order-content .item-icon-left, #cart-modal .item-icon-left, #delivery-prices .item-icon-left {
  padding-left: 80px; }

.product .name {
  font-size: 95%;
  font-weight: bold; }

.product .detail {
  font-style: italic;
  font-size: 90%; }

.product .price {
  font-size: 95%;
  font-weight: bold; }

.product img {
  height: 80px;
  max-width: 80px;
  float: left; }

.avatar {
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px; }

.address {
  overflow: hidden; }

.error-message {
  padding-left: 5px;
  font-weight: bold;
  font-size: 90%;
  color: #c0392b; }
  .error-message span, .error-message i.icon {
    color: #c0392b; }

#toast-container {
  width: 100%;
  top: 12px;
  right: auto; }
  #toast-container .toast {
    width: 95%;
    margin: auto; }
    #toast-container .toast .toast-title {
      color: white; }
    #toast-container .toast .toast-message {
      color: white; }

.loading span {
  color: white; }
